In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import yfinance

import sys
sys.path.append("../quant_research_toolbox")
from strategies import *
from utils import *
from risk import *

In [3]:
df_aapl = load_ticker_data("AAPL", start_date="2025-01-01", end_date="2025-06-01")
df_aapl.head()

/home/onyxia/work/quant_research_toolbox/notebooks/../quant_research_toolbox/utils.py:8: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df_ticker = yf.download(ticker_name, start=start_date, end=end_date)
[*********************100%***********************]  1 of 1 completed

,close,high,low,open,volume,ohlc_price,typical_price,median_price
Date,,,,,,,,
2025-01-02,243.263199,248.500565,241.238085,248.330961,55740700,245.333202,244.333950,244.869325
2025-01-03,242.774368,243.592387,241.307905,242.774368,40244100,242.612257,242.558220,242.450146
2025-01-06,244.410416,246.734810,242.614744,243.722074,45045600,244.370511,244.586657,244.674777
2025-01-07,241.627136,244.959095,240.769205,242.395272,40856000,242.437677,242.451812,242.864150
2025-01-08,242.115952,243.123531,239.472335,241.337830,37628900,241.512412,241.570606,241.297933

In [4]:
Momentum.sma_crossover(df_aapl, "ohlc_price")

              fast_sma    slow_sma  signal  orders
Date
2025-01-02  245.333202  245.333202       0     NaN
2025-01-03  243.972730  243.972730       0     NaN
2025-01-06  244.105324  244.105324       0     NaN
2025-01-07  243.688412  243.688412       0     NaN
2025-01-08  243.253212  243.253212       0     NaN
...                ...         ...     ...     ...
2025-05-23  202.904500  203.690665       0    -1.0
2025-05-27  201.217001  203.922651       0     NaN
2025-05-28  199.997500  203.728187       0     NaN
2025-05-29  199.539500  203.724831       0     NaN
2025-05-30  199.261500  203.843906       0     NaN

[102 rows x 4 columns]

In [5]:
Momentum.naive_momentum(df_aapl, "ohlc_price")

            orders
Date
2025-01-02       0
2025-01-03       0
2025-01-06       0
2025-01-07       0
2025-01-08      -1
...            ...
2025-05-23       0
2025-05-27       0
2025-05-28       0
2025-05-29       0
2025-05-30       0

[102 rows x 1 columns]